




body{
    background:#f8f5f4;
}

*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-family: Helvetica;
    color:#343b58;
   
    /* background:#f8f5f4; */
}
.imgcommoncss{
    width:15px; 
    height:15px;
     padding-right: 5px;
}
.fas{
    width:20px;
     height:18px;
      padding-right:5px;
}

.headerlist>li{
    display: inline-block;
    list-style-type: none;
    padding:20px;
    font-weight: bold;
 
}
.headerlist>li:hover{
   color:blue;
 
}
.div1>div>img{
    width: 250px; 
    height:200px;
     padding-right:5px;
}
@media screen and (max-width:1000px) and (min-width:600px){
    .div1{
        width:150%;
    }
    .main40,.imgadvetisment,.imgadvetisment1,.imgadvetisment2{
        display: none;
    }
   
}


@media screen and (max-width:600px) {
    .div1>div{
        width:100%;
    }
    .main40,.imgadvetisment,.imgadvetisment1,.imgadvetisment2{
        display: none;
    }
    .main60{
        width:100%;
    }
   .div1{
       display:flex;
       flex-direction: column;
   }
}






.header{
    display:flex;
    justify-content: space-between;
   margin:0px;
   padding:0px;
    margin-bottom: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  background:white;
 width:100%;
    /* border:2px solid red; */
}
.first{
  border-bottom: 1px solid black;
  
}
.header>div:first-child{
    margin-top: 20px;
}
.headertwo{
    background:white;
    font-weight: bold;
}
.headertwo>ul>li{
    margin-top: 0px;
    /* border:2px solid teal; */
    display: inline-block;
    list-style-type: none;
    padding:0px 20px;
    color:#343b58;
   
}
.headertwo>ul{
    margin-top:20px;
    margin-left:0px;

}
.headertwo>ul>li:hover{
  color:blue;
}
select{
border:none;
font-weight: bold;
color:blue;
}


.container{
    width:100%;
    margin:0% 0% 0% 0%;
   
    /* border:2px solid teal; */
}
.inputbox{
    margin:20px;
    cursor: pointer;
    position: relative;
}
.inputbox>i:first-child{
position:absolute;
left:30px;
bottom:15px;
width:100px;
font-size: 13px;
}
.inputbox>i:nth-child(5){
    position:absolute;
    right:450px;
    bottom:10px;
    width:100px;
    font-size: 13px;
    
    }
    /* .inputbox{
        border:2px solid blue;
        
    } */
.inputbox>input:nth-child(2){
    width:20%;
    height:40px;
    border:1px solid grey;
    border-radius: 10px;
    margin:5px;
}
.inputbox>input:nth-child(3),.inputbox>input:nth-child(4),.inputbox>input:nth-child(5){
    width:15%;
    height:40px;
    border:1px solid grey;
    border-radius: 10px;
    margin:5px;
}
.inputbox>input:nth-child(6){
    width:13%;
    height:45px;
    border:none;
    /* border:1px solid grey; */
    border-radius: 10px;
    margin:5px;
    color:white;
    background:blue;
    font-size: 15px;
}
.map{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width:250px;
    height: 130px;
}
.map>a{
    width:100px;
    display: block;
     margin-left: 60px;
   text-decoration: none;
   color:blue;
}
.map>a:hover{
 text-decoration: underline;
   /* border-bottom: 1px solid blue; */
}
.map>iframe{
    border-radius: 10px 10px 0px 0px;
}
.containermap{
    display:flex;
    width:100%;
}
.main40{
       width:20%;
       /* border:2px solid red; */
       margin:20px;
       background:#f8f5f4 ;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       border-radius: 10px;
       background: white;
       padding:10px;
}
.far{
    padding-right:10px;
}
.main40:hover{
    background:grey;
}
.main60{
    width:60%;
   padding:10px;
    /* border:2px solid red; */
}
.upper60{
    display:flex;
    /* border:2px solid teal; */
}
#sort{
    
    /* height:40px;
    border:1px solid grey;
    border-radius: 10px;
    margin:5px; */
    color:grey;
    font-size: 13px;
}
.one{
    /* border:2px solid blue; */
    margin:10px;
font-weight: bold;
}
.two{
    width:40%;
    height:40px;
 
    border-radius: 10px;
    margin-left:50px;
  
}
.two>select{
    width:100%;
    height:45px;
    border:1px solid grey;
    border-radius: 10px;
    margin-top:15px;
}
.searchA{
    width:90%;
    height:40px;
    border:1px solid grey;
    border-radius: 10px;
    margin-top: 10px 0px 20px 0px;
    text-align: center;
    padding-top:15px;
    font-size: 15px;
   
}
hr{
    margin:20px 0px;
}
.teal{
    color: #5bb9e6;
    margin-top: 50px;
    font-size: 15px;
}
.marginbigdiv{
    margin-top:50px;
}
.div1{
    display:flex;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border-radius: 10px 0px 0px 10px; */
   /* margin-bottom:10px; */
   /* border:3px solid blue;; */
   cursor: pointer;
   margin-bottom: 20px;
   background:white;
 
}
img{
    border-radius: 5px 0px 0px 5px;
   
}
.div1>div{
    margin-top:0px;
    margin-bottom:0px;
    
    border-radius: 10px;
}
.div1>div:nth-child(2){
    padding-right:5px;
}
.div1:hover{
    background:grey;
}
.div1>div>h2{
  font-size: 15px;
  margin-bottom: 5px;
}
.div1>div>div>h2:hover{
 text-decoration: underline;
 color:blue;
  }
.div1>div>p{  
    margin-top: 0px;
   
  }
  .div1>div>div>p:hover{  
    text-decoration: underline;
    color:blue;
   
  }
  .div1>div>p:nth-child(3){
   
    margin-top: 50px;
  }
  .smallflex{
      display:flex;
      margin-top:70px;
      margin:30px 0px 0px 30px;
      margin-bottom: 0px;
  }
  .smallflex>div:nth-child(2){
 font-size: 15px;
    margin:50px 0px 0px 50px;
    margin-bottom: 0px;
}
.leftsmall{
    padding-top:30px;
}

.leftsmall>h3{

    background:#0d7066;
    margin:0px;
    padding:5px;
    color:white;
    border-radius: 10px;
    font-size: 13px;
  
}
.leftsmall>h3:nth-child(3){
    background:yellow;
}

.firstdiv{
    padding-left: 50px;
    font-size: 20px;
     font-weight: bold;
     margin-bottom: 0px;
    /* border:2px solid red; */
}
.leftsmall>p{
    margin-top: 0px;
    padding-left:80px;
    font-size: 10px;
    margin-bottom: 5px;
}
.seconddiv{
    margin-top:0px;
    font-size: 11px;
    padding-left:20px;
}
/* //////////filterlist main40/////////////////////// */

.listfilter>li{

list-style-type:none;
padding: 10px;
padding-right:30px ;
  
} 
.fas{
    font-size: 8px;
    padding:2px;
}
.pricesort>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.guestrating>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.cleaning>li{
    list-style-type:none;
padding: 10px;
/* padding-right:30px ; */
}
.payment>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.property>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.area>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.hover{
    color:blue;
    text-decoration: none;
}
.hover:hover{
    text-decoration: underline;
}
.meal>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.amentites>li{
    list-style-type:none;
padding: 10px;
padding-right:30px ;
}
.imgadvetisment{
    margin:60px;
}
.imgadvetisment2{
margin-top:800px;
margin-left:60px;
}
.sideimge{
    display:flex;
    flex-direction: column;
    /* position:fixed; */
}
.btnbottom{
    /* text-align: center; */
    margin-left:600px;
    margin-top:40px;
    color:blue;
    padding:8px;
    font:bolder;
    border-radius: 15px;
    background-color: white;
    border:2px solid blue;
}
.btnbottom1{
    /* text-align: center; */
    margin-left:590px;
    margin-top:10px;
    color:blue;
    padding:10px;
    font:bolder;
    border:2px solid blue;
    border-radius: 15px;
    background-color: white;
}
.textbottom{
    
    text-align: center;
    margin-top:50px;
    font-size: 13px;
}












/* //////////////////////////footer footer footer footer///////////////////////// */

.footer{
    display:flex;
    justify-content:space-around;
    margin-top:20px;

}
.footer>div>ul>li{
  list-style-type: none;
  margin-bottom: 20px;
  color:blue;
  font-size: 12px;
}
.footer>div>ul>li:first-child{
  color:black;
  font-weight: bold;

  }
  .footer>div>ul>li:hover{
      /* color:red; */
    text-decoration:underline;
   
  }